/*POSITIONING*/

$background: #191919;

$light: #434343;
$mid: #3b3b3b;
$dark: #2d2d2d;
$border: #222;

$rounding: 2px;

body {
    background: $background;
}

#view {
    margin-right: 300px;
}

#list-wrapper {
    float: right;
    overflow-y: auto;
    overflow-x: hidden;

    height: 100vh;
    width: 300px;

    background-color: $dark;

    #list {
        margin: 10px;

        .slot {
            h4 {
                text-align: center;

                padding-bottom: 3px;
                width: 75%;
                margin: 0 auto;
                border-bottom: 1px solid #ddd;
            }

            .weapon {
                display: block;
                width: 100%;
                background-color: $mid;
                border-radius: $rounding;

                padding: 10px 15px;
                margin: 5px auto;

                &:hover {
                    background-color: $light;
                }
            }
        }
    }

    #search-wrapper {
        position: sticky;
        top: 0;

        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $mid;

        #search {
            display: block;

            background-color: $light;
            border: none;
            padding: 5px;
        }
    }
}

