/*POSITIONING*/

$background: #191919;

$light: #434343;
$mid: #3b3b3b;
$dark: #2d2d2d;
$border: #222;

$rounding: 2px;

body {
    background: $background;
}

#view {
    margin-right: 300px;
}

#list-wrapper {
    float: right;
    overflow-y: auto;
    overflow-x: hidden;

    height: 100vh;
    width: 300px;

    background-color: $dark;

    #list {
        margin: 10px;

        .slottype {
            h4 {
                text-align: center;

                padding-bottom: 3px;
                width: 75%;
                margin: 0 auto;
                border-bottom: 1px solid #ddd;
            }

            .itemtag {
                display: block;
                width: 100%;
                background-color: $mid;
                border-radius: $rounding;

                padding: 10px 15px;
                margin: 5px auto;

                &:hover {
                    background-color: $light;
                }
            }
        }
    }

    #search-wrapper {
        position: sticky;
        top: 0;

        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $mid;

        #search {
            display: block;

            background-color: $light;
            border: none;
            padding: 5px;
        }
    }
}

#tabcontrols {
    background-color: $dark;
    height: 50px;

    display: flex;
    align-items: flex-end;

    .ui-tabs-tab {
        height: 30px;
        min-width: 50px;
        display: inline-block;

        background-color: $background;

        margin: 0 1px;
        border-radius: 5px 5px 0 0;

        display: flex;
        align-items: center;
        justify-content: center;

        outline: none;

        &::before {
            content: none;
        }

        &:hover {
            height: 32px;
        }

        * {
            text-decoration: none;
        }
    }

    .ui-tabs-active {
        height: 35px;

        &:hover {
            height: 35px;
        }
    }
}

#info-wrapper {
    max-width: 720px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
}
